<title> JON'S SUPER AWESOME PAGE! </title>
<head> <h1> JON'S SUPER AWESOME PAGE! </h1> </head>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
